/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1.title {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 4px 0px 7px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.messageStyle {
	background-color: #C3D9FF;
	margin: 0 auto;
	text-align: center;
	width: 440px;
}

.menuStyle {
	border: 1px solid #999;
	margin: 0 auto;
	width: 950px;
}

.menuPanel {
	margin: 0 auto;
}

.bodyStyle {
	border: 1px solid #999;
	margin: 0 auto;
	width: 950px;
}

.mainPanelStyle {
	width: 100%;
	height: 100%;
}

.userLoginPanelTable {
	border: 1px solid #666666;
	margin: 0 auto;
	padding: 10px 10px;
}

.contentPanel {
	margin: 0 auto;
}


.loading-yes {
	background-image: url(loading.gif);
	background-repeat: no-repeat;
	width: 220px;
	height: 19px;
	margin: 0 auto;
}

.loading-no {
	width: 220px;
	height: 19px;
	margin: 0 auto;
}

.loading-no {
	width: 220px;
	height: 19px;
}

.buttonSmall {
	margin: 5px 5px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .3em 1em .2em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	color: #fffbf9;
	border: solid 1px #980401;
	background: #c50503;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff8a50),
		to(#c30000) );
	background: -moz-linear-gradient(top, #ff8a50, #c30000);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ff8a50', endColorstr = '#c30000' );
}

.buttonSmall:hover {
	background: #c50503;
	background: -webkit-gradient(linear, left top, left bottom, from(#c30000),
		to(#ff8a50) );
	background: -moz-linear-gradient(top, #c30000, #ff8a50);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#c30000', endColorstr = '#ff8a50' );
}

.buttonSmall:active {
	border: solid 1px #ec3331;
	color: #f9baae;
	background: -webkit-gradient(linear, left top, left bottom, from(#dc3921),
		to(#ffb36a) );
	background: -moz-linear-gradient(top, #dc3921, #ffb36a);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#dc3921', endColorstr = '#ffb36a' );
}

.buttonBig {
	margin: 5px 5px;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a),
		to(#f47a20) );
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#faa51a', endColorstr = '#f47a20' );
}

.buttonBig:hover {
	text-decoration: none;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11),
		to(#f06015) );
	background: -moz-linear-gradient(top, #f88e11, #f06015);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f88e11', endColorstr = '#f06015' );
}

.buttonBig:active {
	position: relative;
	top: 1px;
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20),
		to(#faa51a) );
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f47a20', endColorstr = '#faa51a' );
}